@import url("bootstrap.min.css");
@import url("bootstrap-responsive.min.css");

/*!
 * Customizations to the Bootstrap stylesheet for the Expertsum Solutions website
 *
 * Copyright 2012 Expertsum Solutions
 *
 * Designed and built by @elopez de lara.
 * Date: 2012/01/22 16:17
 */
body {
    padding-top: 60px;
}

.container > footer p {
    text-align: center;
}

.hero-unit h1 {
    font-size: 45px;
    color: #fff;
    line-height: 1;
    text-shadow: 0 1px 2px rgba(0,0,0,.5);
    margin-top: -30px;
    margin-left: -30px;
}

.hero-unit blockquote {
    margin-top: 0;
    margin-right: -30px;
    margin-bottom: 0;
    width: 230px;
    float: right;     
    display: none; 
}

.hero-unit blockquote p {
    font-size: 13px;
    font-weight: 300;
    line-height: 15px;
    color: #fff;
}

// Landscape phones and down
@media (max-width: 480px) { 
    .hero-unit {
        background: #ffffff url(../img/solarium.jpg) no-repeat right bottom; 
        z-index:5000;
        min-height: 199px;
    }
}
     
// Landscape phone to portrait tablet
@media (max-width: 768px) { 
    .hero-unit {
        background: #ffffff url(../img/solarium.jpg) no-repeat right bottom; 
        z-index:5000;
        min-height: 199px;
    }
}
     
// Portrait tablet to landscape and desktop
@media (min-width: 768px) and (max-width: 980px) { 
    .hero-unit {
        background: #ffffff url(../img/solarium.jpg) no-repeat right bottom; 
        z-index:5000;
        min-height: 199px;
    }
}
     
// Large desktop
@media (min-width: 1200px) { 
    .hero-unit {
        background: #ffffff url(../img/solarium.jpg) no-repeat right bottom; 
        z-index:5000;
        min-height: 199px;
    }
}

